APP_NAME=BusTicketing
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=bus_ticketing
DB_USERNAME=busapp
DB_PASSWORD=busapp_secret

SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DISK=local

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@autobuses.com
MAIL_FROM_NAME="Autobuses S.A. de C.V"
