/vendor
/node_modules
.env
/storage/framework/views/*.php
/storage/framework/cache/*
/storage/logs/*.log
/bootstrap/cache/*.php
/storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
.phpunit.result.cache
generate_icons.php
/public/images/icon-*.png
